@import '../../config';

.active {
  color: $color-active;
}

nav {
  left: 0;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  ul {
    display: flex;
    flex-direction: column;
    flex: 1;
    .logo {
      padding-top: 0;
    }
    li {
      border: 0.5px solid black;
      flex: 1;
      padding-top: 2rem;
      position: relative;
    }
  }
  .bottom-nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    & > * {
      flex: 1;
      border: 0.5px solid black;
    }
  }
}
